/*body{
	background-color: #2d7b7b;
}*/
h1{
	color:grey;
	text-align:center;
}

#footer {
	background-color: #f3e5f5;
	position:fixed;
	bottom: 0;
	width: 100%; 
}


.bordermaker{
	border: 1px solid black;
	border-collapse: separate;
  	border-spacing: 15px;
    padding: 15px;
}

table,th, td{
	border: 1px solid black;
    padding: 15px;
}



.loader{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 9999;
    background: #e9e9e9 url(/static/img/fading.gif) center center no-repeat;
}